@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body,html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner {
  height: 600px;
}

.carousel-inner img {
  transform: translateY(-30%);
  height: 100%;
}

@media (min-width: 1100px) {
  .carousel-inner img {
    width: 100%;
  }
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

@media (max-width: 450px) {
  .carousel-caption .display-2 {
    font-size: 3em;
  }
}


.jumbotron {
  padding: 1em;
  border-radius: 0;
  margin: 0 auto;
  margin-top: 20px;
}

.padding {
  padding-bottom: 2em;
}

.alert {
  width: 75%;
  margin: 0 auto;
  padding-top: 2em;
}

.alert hr {
  border-top: 2px solid #f0f0f0;
  width: 95%;
  margin-top: 0.3 em;
  margin-bottom: 1em;
}

.fa-bullseye {color: #2787F5}
.fa-male {color: #2787F5}
.fa-desktop {color: #2787F5}
.fa-paint-brush {color: #2787F5}
.fa-camera {color: #2787F5}
.fa-users {color: #2787F5}

.fa-bullseye, .fa-male, .fa-desktop, .fa-paint-brush, .fa-camera, .fa-users {
  font-size: 2em;
  margin: 1em;
}


#fixed {
  height: 400px;
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  background: url(../img/vk.link_studio_sforzando.png) no-repeat center center fixed;
  background-blend-mode: multiply;
  background-color: lightblue;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;  
}


#gifsBtn {
  margin-bottom: 20px;
}

#gifs img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
}


.social a {
  font-size: 2em;
  padding: 0.2em;
}

.fa-instagram {color: #C13584;}
.fa-vk {color: #2787F5;}

.fa-instagram :hover {color: #ccc;}
.fa-vk :hover {color: #ccc;}


footer {
  background-color:#3f3f3f;
  padding-top: 50px;
  border-top: 4px solid silver;
  color: white;

}